#ignore thumbnails created by windows
Thumbs.db
*.mp4
*.MP4
*.exe
#ignore by django
*.sqlite3
*.log
*.pot
*.mkv
*.MKV
local_settings.py
db.sqlite3
migrations/
media/
#ignore thumbnails created by windows
Thumbs.db
#ignore python
*.pyc
*.PYC
.project
.pydevproject
desktop.ini
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/
jump_tube/__pycache_
JumpTube/db.sqlite3
JumpTube/.vs/JumpTube/v16/.suo

