   {% extends "jump_tube/layout.html" %}

{% block content %}
           <style>

.overflow-auto1 {
  height: 500px;
  overflow: auto;
}

div.relative {
  position: relative;
  width: 800px;
  height: 400px;
  border: 3px solid #73AD21;
} 

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

div.fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1030;
}


.overflow-auto1 {
  height: 500px;
  overflow: scroll;
}

@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
@media (max-width: 768px) {
    .h-md-100 {}
    #text-area{
    height: 50vh;
    overflow: scroll;
    }
}

.btn-round { border-radius: 30px; }
.bg-indigo { background: #f3f3f3; }
.text-cyan { color: #35bdff; }


.btn-width{
  width: 100%;
}


</style>
      
     
       
<script type="text/javascript">

    
    function update_subtitle(
        subtitle_id,
        video_id,
        text,
        index,
        starting_in_seconds,       
        duration_in_seconds,
        yaw                ,
        pitch              ,
        roll               ,
        fov                ,
        picture          
    )
    {
        var messageData = {};
        messageData['subtitle_id'  ] = subtitle_id;
        messageData['video'  ] = "/api/videos/" + video_id;
        messageData['index'  ] = index;
        messageData['starting_in_seconds'  ] = starting_in_seconds;
        messageData['duration_in_seconds'  ] = duration_in_seconds;
        messageData['yaw'  ] = yaw    ;
        messageData['pitch'  ] = pitch  ;
        messageData['roll'  ] = roll   ;
        messageData['fov'  ] = fov    ;
        messageData['picture'  ] = picture;
        // construct an HTTP request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "/api/subtitles/" + subtitle_id, true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr.send(JSON.stringify(messageData));
    }

    



    function add_subtitle(video_id) {
               
        var url = "/video_add_subtitle/" + String(video_id) + "/?starting_in_seconds=" + vid.currentTime;
        var xhr = new XMLHttpRequest();

        xhr.open('GET', url, true);
        xhr.send(null);
        //location.reload();
    }

      
    function load_video(video_id) {
        // construct an HTTP request
        var xhr = new XMLHttpRequest();
        var url = "/api/video_whole/" + video_id + "/";
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var videoObj = JSON.parse(this.responseText);
                console.log( videoObj.url                );
                console.log( videoObj.name               );
                console.log( videoObj.description        );
                console.log( videoObj.from_file          );
                console.log( videoObj.srt_file           );
                console.log( videoObj.thumbnail          );
                console.log( videoObj.created_at         );
                console.log( videoObj.updated_at         );
                console.log( videoObj.starting_in_seconds);
                console.log( videoObj.yaw                );
                console.log( videoObj.pitch              );
                console.log( videoObj.roll               );
                for (i in videoObj.subtitle_set) {
                  console.log( videoObj.subtitle_set[i].id               );
                  console.log( videoObj.subtitle_set[i].video                             );
                  console.log( videoObj.subtitle_set[i].text                              );
                  console.log( videoObj.subtitle_set[i].index                             );
                  console.log( videoObj.subtitle_set[i].starting_in_seconds               );
                  console.log( videoObj.subtitle_set[i].duration_in_seconds               );
                  console.log( videoObj.subtitle_set[i].picture                           );
                  console.log( videoObj.subtitle_set[i].yaw                               );
                  console.log( videoObj.subtitle_set[i].pitch                             );
                  console.log( videoObj.subtitle_set[i].roll                              );
                  console.log( videoObj.subtitle_set[i].fov                               );
                }
            }
        };

        xhr.open('GET', url, true);
        xhr.send();                         
    }

   // load_video({{video.id}});

</script>
<div class="d-md-flex flex-row-reverse h-md-100 align-items-center">

<!-- First Half VIDEO -->

<div class="col-md-9 p-0 bg-white h-md-100 loginarea">
    <div class="d-md-flex align-items-center h-md-100 justify-content-center">

            <div id="player_col" class="col-12 p-1" >


       <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->

                <div class="embed-responsive embed-responsive-16by9">

                    <div class="embed-responsive-item" id="player">
                        <audio id="myAudio" controls>

                            <source src="{{video.audio_file.url}}" type="audio/mpeg">

                        </audio>
                    </div>
                 

                </div>
                <button id="go_to" class="new btn btn-info px-1 py-1 text-center btn-lg" onclick=
                           "set_focus_to_current_time( vid.currentTime);"
                           >
                 goto subtitle
                       </button>
          </div>

    </div>
</div>

<!-- Second Half TEXT -->
<div id="text-area" class="col-md-3 p-0 bg-indigo h-md-100 overflow-auto">

    <div class="text-white d-md-flex  h-100 px-4 py-2 text-center justify-content-center">
    <div class="logoarea pt-4 pb-5">

        <div id="scroll" class="" >
                	
            
                <div class="py-1">
        <center class="">
            <div class="py-1">
               {% for s in subs %}
                <div class="py-1">
                   <button id="sb-{{s.id}}" class="new btn btn-light px-1 py-1 text-center btn-lg btn-width" onclick="jump_to({{s.starting_in_seconds}});" 
                           >
                 {% if s.picture %}
                <img src={{s.picture.url}} class="img-thumbnail"  > 
                       <br>
                {% endif %}
                       {{s.text|urlize|linebreaks}}
                       </button>
                
                {% if user.is_staff %}
            <br>
                            
                           <a class="new btn btn-info" href="/admin/jump_tube/subtitle/{{s.id}}" >edit</a> 
                           
               <button  class="new btn btn-primary" onclick="jump_to({{s.starting_in_seconds}});
                               vid.pause();" 
                               >
                             jump and pause
                </button>              
                              


                {% endif %}

                    </div>
             {% endfor %}
                </div>
        </center>
                </div>
            </div>
    </div>

    </div>
</div>

</div>


</div>








        
             
      <div id="panel360">

    <style>
  .current-values {
    color: #666;
    font-size: 12px;
  }
</style>
          {% if user.is_staff %}

           <p id="demo"></p>
          <button  class="new btn btn-warning" onclick="add_subtitle({{video.id}});">
                    Add Subtitle
                </button> 
          <br>
         
           {% endif %}

        
    <div id=" = 'spherical-properties-button'">

    </div>

          
      </div>


      </div>
  </div>
   
    <script type="text/javascript">
     
   
          
        var vid = document.getElementById("myAudio");
        vid.autoplay = true;
        vid.play();

    
        function jump_to(  seond_to_jump) {
                   
            vid.currentTime = seond_to_jump;
            vid.play();
        }
   

      
    {% if initial_subtitle %}
        jump_to({{initial_subtitle.starting_in_seconds}});
        document.getElementById("sb-{{initial_subtitle.id}}").focus();
    {% else %}
     
        jump_to({{video.starting_in_seconds}});
        
    {% endif %}
        
 	       
      
	  
    function set_focus_to_current_time(current_time )
    {
    {% if subs %}
              
       {% for s in subs %}
           {% if forloop.first %}
               var prev_subtitle_id   = {{s.id   }};
               var prev_subtitle_yaw  = {{s.yaw  }};
               var prev_subtitle_pitch= {{s.pitch}};
               var prev_subtitle_roll = {{s.roll }};
               var prev_subtitle_fov  = {{s.fov  }};


           {% else %}    
               if( {{s.starting_in_seconds}} > current_time )
               {	
                   
                    document.getElementById("sb-" + String(prev_subtitle_id)).focus();
                    return;
               }
               else
               {
                   prev_subtitle_id   = {{s.id   }};
                   prev_subtitle_yaw  = {{s.yaw  }};
                   prev_subtitle_pitch= {{s.pitch}};
                   prev_subtitle_roll = {{s.roll }};
                   prev_subtitle_fov  = {{s.fov  }};


               }
           {% endif %}
        {% endfor %}
    {% endif %}

    }//function set_focus_to_current_time

    </script>

        {% if user.is_staff %}
          
<div class="row" id='debug_row'>
<div id="debug_col" class="col-12 p-1">
   
    <center>
<button onclick="myFunction()">Jump</button>




<form id="myForm" action="/action_page.php">
  Second: <input type="text" name="fname"      value="{{video.starting_in_seconds   }}"><br>
</form> 
<p></p>
<a class="new btn btn-success" href="/video_init_from_srt/{{ video.id }}/">Init subtitles</a>   

<p></p>
<p></p>
<p></p>
   
  
    
<p></p>
<p></p>
    

<script type="text/javascript">
    
    function myFunction() {
        var x = parseFloat(document.getElementById("myForm").elements.item(0).value);
        //  document.getElementById("demo").innerHTML = parseInt(x);
        jump_to(x);
		set_focus_to_current_time(x);
        
    }
    </script>
     

 
          </div>

       
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
<a class="new btn btn-danger" href="/video_delete_all_subtitles/{{ video.id }}/">Delete All Subtitles</a>
 
        {% endif %}

{% endblock %}
