<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% load staticfiles %}
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'jump_tube/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" />

      
<script src="{% static 'jump_tube/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" ></script>


    <title>JumpTube</title>
   </head>
  <body>
           <style>

.overflow-auto1 {
  height: 500px;
  overflow: auto;
}

div.relative {
  position: relative;
  width: 800px;
  height: 400px;
  border: 3px solid #73AD21;
} 

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

div.fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1030;
}
</style>
<a href="/admin/jump_tube/video/" class="addlink"> </a>
      <div class="row">
                 

<div id="scroll" class="col-sm-6 col-md-3 overflow-auto1" >
                	<a class="new btn btn-info" href="/admin/jump_tube/video/" target="_blank">See all videos</a>   
<br>
        <center>
               {% for s in subs %}
                   <button id="sb-{{s.id}}" class="new btn btn-light" onclick="player.seekTo({{s.stating_in_seconds}});player.playVideo();" 
                           
                           >
                 {% if s.picture %}
                <img src={{s.picture.url}} class="img-thumbnail"  >          
                {% endif %}
                       {{s.text}}
                </button>
             {% if user.is_authenticated %}
                           <a class="new btn btn-info" href="/admin/jump_tube/subtitle/{{s.id}}" >edit</a> 
                           {% endif %}
    <br >
               {% endfor %}
        </center>
</div>





      <div id="player_col" class="col-sm-6 col-md-9" >
  
              
       <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
            
         <div class="embed-responsive embed-responsive-16by9">
             
           <div class="embed-responsive-item" id="player"></div>
             
           </div>
        
        
      </div>
  </div>

   
    <script type="text/javascript">
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '{{video_id}}',
          events: {
            'onReady': onPlayerReady
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
       {% if initial_subtitle %}
           event.target.seekTo({{initial_subtitle.stating_in_seconds}});
        document.getElementById("sb-{{initial_subtitle.id}}").focus();
        
        {% endif %}
	 //   event.target.seekTo(133.124);
        event.target.playVideo();
      }
	  

    </script>

          
<div class="row" id='debug'>
    {% if user.is_authenticated %}

<button onclick="myFunction()">Jump</button>

<form id="myForm" action="/action_page.php">
  Second: <input type="text" name="fname" value="0"><br>
  yaw: <input type="text" name="fname" value="0"><br>
  pitch: <input type="text" name="fname" value="0"><br>
  roll: <input type="text" name="fname" value="0"><br>
  fov: <input type="text" name="fname" value="0"><br>
</form> 
<a class="new btn btn-success" href="/video_init_from_srt/{{ id }}/">Init subtitles</a>   

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
    

<script type="text/javascript">
    
    function myFunction() {
        var x = parseFloat(document.getElementById("myForm").elements.item(0).value);
        //  document.getElementById("demo").innerHTML = parseInt(x);
        var sphericalProperties = {};
        sphericalProperties['yaw'  ] = parseFloat(document.getElementById("myForm").elements.item(1).value);
        sphericalProperties['pitch'] = parseFloat(document.getElementById("myForm").elements.item(2).value);
        sphericalProperties['roll' ] = parseFloat(document.getElementById("myForm").elements.item(3).value);
        sphericalProperties['fov'  ] = parseFloat(document.getElementById("myForm").elements.item(4).value);
        player.seekTo(x);
        player.playVideo();
        player.setSphericalProperties(sphericalProperties);
    }
    </script>

    <style>
  .current-values {
    color: #666;
    font-size: 12px;
  }
</style>

<!-- Display spherical property values and enable user to update them. -->
<table style="border: 0; width: 640px;">
  <tr style="background: #fff;">
    <td>
      <label for="yaw-property">yaw: </label>
      <input type="text" id="yaw-property" style="width: 80px"><br>
      <div id="yaw-current-value" class="current-values"> </div>
    </td>
    <td>
      <label for="pitch-property">pitch: </label>
      <input type="text" id="pitch-property" style="width: 80px"><br>
      <div id="pitch-current-value" class="current-values"> </div>
    </td>
    <td>
      <label for="roll-property">roll: </label>
      <input type="text" id="roll-property" style="width: 80px"><br>
      <div id="roll-current-value" class="current-values"> </div>
    </td>
    <td>
      <label for="fov-property">fov: </label>
      <input type="text" id="fov-property" style="width: 80px"><br>
      <div id="fov-current-value" class="current-values"> </div>
    </td>
    <td style="vertical-align: bottom;">
      <button id="spherical-properties-button">Update properties</button>
    </td>
  </tr>
</table>



    <script type="text/javascript">
    var tag = document.createElement('script');
  tag.id = 'iframe-demo';
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var PROPERTIES = ['yaw', 'pitch', 'roll', 'fov'];
  var updateButton = document.getElementById('spherical-properties-button');

  // Don't display current spherical settings because there aren't any.
  function hideCurrentSettings() {
    for (var p = 0; p < PROPERTIES.length; p++) {
      document.getElementById(PROPERTIES[p] + '-current-value').innerHTML = '';
    }
  }

  // Retrieve current spherical property values from the API and display them.
  function updateSetting() {
    if (!player || !player.getSphericalProperties) {
      hideCurrentSettings();
    } else {
      let newSettings = player.getSphericalProperties();
      if (Object.keys(newSettings).length === 0) {
        hideCurrentSettings();
      } else {
        for (var p = 0; p < PROPERTIES.length; p++) {
          if (newSettings.hasOwnProperty(PROPERTIES[p])) {
            currentValueNode = document.getElementById(PROPERTIES[p] +
                                                       '-current-value');
            currentValueNode.innerHTML = ('current: ' +
                newSettings[PROPERTIES[p]].toFixed(4));
          }
        }
      }
    }
    requestAnimationFrame(updateSetting);
  }
  updateSetting();

  // Call the API to update spherical property values.
  updateButton.onclick = function() {
    var sphericalProperties = {};
    for (var p = 0; p < PROPERTIES.length; p++) {
      var propertyInput = document.getElementById(PROPERTIES[p] + '-property');
      sphericalProperties[PROPERTIES[p]] = parseFloat(propertyInput.value);
    }
    player.setSphericalProperties(sphericalProperties);
  }
    
    
</script>

        
    <div id=" = 'spherical-properties-button'">

    </div>

     {% endif %}

          </div>
          
  </body>
</html>
