<!doctype html>
<html 
      
      {% if page_lang %}
        lang="{{ page_lang }}"     
    {% else %}
        lang="en"
    {% endif %}
{% if left_to_write %}
        dir="ltr"
    {% else %}
        dir="rtl"
    {% endif %}      
    
      
      >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      {% load staticfiles %}
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'jump_tube/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" />

      


    {% if page_name %}
        <title>{{ page_name }}</title>
    {% else %}
        <title>JumpTube</title>
    {% endif %}
    
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47099729-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47099729-2');
</script>

   </head>
  <body>
    <div ןid="container body-content">
         <a class="new btn btn-info" href="{% url 'video_list' %}"> לרשימת הסרטים</a> 
     {% if user.is_staff %}
                	<a class="new btn btn-info" href="/admin/jump_tube/video/" target="_blank">See all videos</a>     
    {% endif %}

        {% block content %}
        {% endblock %}

    
    </div>

  <script src="{% static 'jump_tube/bootstrap-4.3.1-dist/js/jquery-3.3.1.slim.min.js' %}" ></script>
  <script src="{% static 'jump_tube/bootstrap-4.3.1-dist/js/popper.min.js' %}" ></script>
  <script src="{% static 'jump_tube/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" ></script>
  <script src="{% static 'jump_tube/bootstrap-4.3.1-dist/js/bootstrap.js' %}" ></script>
  </body>
</html>
