<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% load staticfiles %}
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'jump_tube/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" />

      
<script src="{% static 'jump_tube/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" ></script>


    <title>רשימת הסרטים</title>
   </head>
  <body>

      <div class="row">
          <center>
              <h1 > לאן נקפוץ??</h1>
          <div id="player_col" class="col-sm-12 col-md-12">
{% if video_list %}
<table class="table table-hover">
    <tbody>
        {% for video in video_list %}
        <tr>
            <td>
                {% if video.name %}
                <a href="{% url 'video_play' video.id %}" class="container">{{video.name}}</a>
                {% else%}
                    {% if video.url %}

                    <a href="{% url 'video_play' video.id %}" class="container">{{video.url}} מספר{{ video.id}}</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No videos available.</p>

{% endif %}
              </div>
              </center>
          </div>
  </body>
</html>
