<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% load staticfiles %}
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'jump_tube/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" />

      
<script src="{% static 'jump_tube/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}" ></script>

    <title>{{ video.name }}</title>
   </head>
  <body>
   

      <div class="row">
                  
<div id="scroll" class="col-sm-6 col-md-3" >
    <a class="new btn btn-info" href="{% url 'video_list' %}">לרשימת הסרטים</a> 
               {% for s in subs %}

               <button class="new btn btn-success" onclick="jump_to({{s.starting_in_seconds}});">{{s.text|urlize|linebreaks}}</button>
    <br >
               {% endfor %}

           </div>
<div id="player_col" class="col-sm-6 col-md-9">
    
   
    <div class="embed-responsive embed-responsive-16by9">

        <div class="embed-responsive-item" id="player"></div>
        <video id="myVideo" controls >
            <source src="{{video_id}}" type="video/mp4">
        </video>
    </div>

</div>



<p id="demo"></p>


 <script>
        var vid = document.getElementById("myVideo");
        vid.autoplay = true;
        vid.play();

    
        function jump_to(  seond_to_jump) {
                   
            vid.currentTime = seond_to_jump;
            vid.play();
        }
    jump_to( 0);

        function myFunction() {
            var x = parseFloat(document.getElementById("myForm").elements.item(0).value);

          //var x = document.getElementById("demo").innerHTML = parseFloat(x);
            jump_to( x);
          vid.currentTime = x;
          vid.play();
         }
          
function getCurTime() { 
  alert(vid.currentTime);
} 
    </script>


          </div>
    
  </body>
</html>
